.activitymenu {
    height: 100%;
    background-color: white;
    width: 320px;
    right: 0;
    color: #172b4d;
    position: fixed;
    z-index: 1;
    box-shadow: 0 8px 12px #091e4226, 0 0 1px #091e424f;
    padding-left: 12px;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;
        padding-right: 12px;

        &.main {
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            align-items: center;

            .title {
                grid-column: 2;
                text-align: center;
                padding-bottom: 4px;
            }
        }

        .title {
            font-size: 16px;
            font-weight: 500;
        }

        button {

            padding: 8px;

            &:hover {
                background-color: #091e420f;
            }

        }
    }
    .backGroundoptions{
        display: flex;
        flex-wrap: wrap;
        .photo{
            padding-inline: 5px;
            &.border{
                border-bottom: 1px solid #DCDFE4;
            }
            img{
                height: 96px;
                border-radius: 8px;
                margin-bottom: 4px;
            }
            span{
               
                display: block;
                width: 100%;
                text-align: center;
               
                padding-right: 8px;
            }
        }
        .addimagecontianire{
            input{
                width: 100%;
                height: 100%;
                 opacity: 0;
             }
             svg{
                 position: absolute;
             }
             .custom{
                display: block;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 8px;
                padding-left: 6px;
             }
        }
        .addimage{
            height: 96px;
            width: 140px;
            border-radius: 8px;
            background-color: #091e420f;
            display: flex;
            justify-content: center;
            align-items: center ;
            
        }
    }
    .activities {
        border-top: 1px solid #DCDFE4;
        padding-top: 16px;
        display: grid;
        overflow-y: auto;
        max-height: 100%;

        &.mainmenu {
            justify-items: start;
            font-size: 14px;
            font-weight: 400;

            .hr {
                height: 1px;
                width: 100%;
                background-color: #DCDFE4;
                margin-block: 8px;
            }

            button {
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    background-size: cover;
                    margin-right: 7px;
                }

                .settings {}

                .subabout {
                    font-size: 12px;
                }

                width: 100%;
                text-align: start;
                display: flex;
                align-items: center;
                padding: 6px 12px;

                .about {
                    display: block;
                }

                span {
                    margin-left: 6px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .activity {
            display: flex;
            gap: 8px;
            margin-top: 4px;

            .task {


                align-items: center;

                .tsk {
                    color: #0c66e4;
                    padding-right: 2px;
                }
            }

            img {
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }

            .name {
                font-size: 14px;
                font-weight: 600;

                padding-right: 2px;
            }

            .act {

                padding-right: 2px;
            }

            .date {

                font-size: 12px;
                width: fit-content;
                height: fit-content;
            }
        }
    }
}

.hdpi.pac-logo:after {
    display: none;
}

.pac-item {
    padding: 8px;

    &:hover {
        background-color: #091e420f;
    }
}

.hdpi .pac-icon {
    display: none;
}
.photooptions{
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 8px;
    max-height: 100%;
    overflow-y: auto;
    img{
        width: 100%;
        height: 96px;
        border-radius: 8px;
        object-fit: cover;
    }
}