.activitymenu{
    height: 100%;
    background-color: white;
    max-width:320px;
    right: 0;
    color: #172b4d;
    position: absolute;
    z-index: 1;
    box-shadow:  0 8px 12px #091e4226, 0 0 1px #091e424f;
    padding-inline: 12px;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;
        .title{
            font-size: 16px;
            font-weight: 500;
        }
        button{

            padding: 8px;
               
                &:hover{
                    background-color: #091e420f;
                }
            
        }
    }
    .activities{
        border-top: 1px solid #DCDFE4;
        padding-top: 16px;
        display: grid;
        .activity{
            display: flex;
            gap: 8px;
            margin-top: 4px;
            .task{
                
           
                align-items: center;
                .tsk{
                    color: #0c66e4;
                    padding-right: 2px;
                }
            }
            img{
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }
            .name{
                font-size: 14px;
                font-weight: 600;
             
                padding-right: 2px;
            }
            .act{
                
                padding-right: 2px;
            }
            .date{
                
                font-size: 12px;
               width: fit-content;
             height: fit-content;
            }
        }
    }
}