.workspace-header {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 0;
    padding: 0 0 11px;

    .title-workspace {
        display: flex;
        align-items: center;

    }

    .nav-editor-board {
        display: flex;
        justify-content: space-evenly;
    }

    h3 {
        margin: 0;
    }
}


.board-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-group {

        h3 {
            font-size: 1.2em;
            font-weight: bold;
        }

        button {
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-weight: bold;
        }
        button>svg {
            width: 18px;
            height: 18px;
        }

        button:nth-last-child(2) {
            background-color: #685e66;
            color: white;
            padding: 7px 12px;
            border-radius: 5px;
            font-weight: bold;
        }

        

        display: flex;
        align-items: center;
        gap: 0.4em;

        .dots-at-end {
            height: 16px;
        }

        button.share-btn {
            display: flex;
            align-items: center;
            padding: 7px 12px;
            height: fit-content;
            color: white;
            gap: 0.5em;
            background-color: #1f606a;
        }

        .filters-btn {
            font-weight: bold;
        }

        .divider {
            border-right: 1px solid black;
            margin-block: 10px;
        }

        .users {
            display: flex;
            padding-inline: 10px;
            margin-inline: 5px;

            .user-icon {
                margin-left: -5px;
                width: 28px;
                height: 28px;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    margin-left: -5px;

                }

                img.admin-rank {
                    width: 10px;
                    height: 10px;
                    margin-top: -10px;
                    margin-left: 10px;
                }
            }
        }


    }
}