.copy-list-form {
    background-color: white;
    position: fixed;
    width: 304px;

    border-radius: 4px;
    .header {
        display: flex;
        align-items: center;
        .title {
            align-self: center;
            width: 250px;
            text-align: center;
            line-height: 40px;
            padding-inline: 32px;
            color: #44546f;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        padding: 12px;

        .name {
            font-size: 12px;
            margin-bottom: 4px;
        }

        textarea {
            height: 72px;
            outline: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;

            &:focus {
                border: 0;
                box-shadow: inset 0 0 0 2px #388bff;
            }
        }
        >.create{
            background-color:  #0c66e4;
            width: fit-content;
            padding: 6px 12px;
            span{
                color: white;
            }
        }
    }
}