.group-edit-container {

    background-color: #FFFFFF;
    position: absolute;
    width: 304px;
    min-height: 400px;
    z-index: 10;
    border-radius: 10px;

    .group-eddit-header {
        padding: 0;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 6px 8px;

        .close-edit {
            display: flex;
            align-items: center;
            width: 32px;
            height: 32px;

        }

        p {
            border-radius: 10px;
            margin: 0;
            text-align: center;
            width: 200px;
            background-color: #FFFFFF;
            padding: 0 32px;
            color: #44546F;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .edit-options {
        padding: 12px;

        .first-actions {
            display: grid;

            button {
                text-align: start;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                color: #172B4D;
            }
            .watch{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .color-picker {
            border-top: 1px solid #091e4224;
            margin-top: 2px;
            .color-picker-header {
                display: flex;
                justify-content: start;
                column-gap: 4px;
                margin-top: 6px;
                .title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #44546f;
                }

                .premium {
                    padding: 4px;
                    // background: linear-gradient(79.47deg, var(--ds-background-discovery-bold, #6e5dc6) 25.62%, var(--ds-border-brand, #0c66e4) 99.57%);
                    // -webkit-background-clip: text;
                    // background-clip: text;
                    color: #6e5dc6;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 11px;
                    text-transform: uppercase;
                    // background: linear-gradient(112.4deg, #579DFF 0%, #9F8FEF 100%);
                    // color: transparent;
                    border: 1px solid #0c66e4;
                    border-radius: 3px;
                    margin-left: 8px;
            
                }
            }

            .colors {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-top: 8px;
                margin-bottom: 16px;

                >button {
                    width: 52px;
                    height: 32px;
                    border-radius: 3px;
                }

                .green {
                    background-color: #4BCE97;
                }

                .yellow {
                    background-color: #F5CD47;
                }

                .orange {
                    background-color: #E56910;
                    ;
                }

                .red {
                    background-color: #f87168;
                }

                .purple {
                    background-color: #9f8fef;
                }

                .blue {
                    background-color: #579dff;
                }

                .teal {
                    background-color: #60c6d2;
                }

                .lime {
                    background-color: #94c748;
                }

                .magenta {
                    background-color: #e774bb;
                }

                .gray {
                    background-color: #8590a2;
                }
            }
        }
        .remove-color{
            width: 100%;
            text-align: center;
            background-color: #091e420f;
            color: #172B4D;
            padding: 8px 12px;
            font-size: 13px;
            font-weight: 600;
            &:hover{
                background-color: #091e4224;
            }
        }
    }
}