.home {
    .home-header {
        box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding: 0;
        height: 60px;

        .home-menu {
            .opt {
                padding: 1.25rem 1rem 1rem;

                &:hover {
                    color: rgb(0, 101, 255);
                }

                .name {
                    font-size: 16px;
                    color: rgb(23, 43, 77);
                    font-weight: 600;

                    &:hover {
                        color: rgb(0, 101, 255);
                    }
                }

                svg {
                    width: 0.5rem;
                }
            }

            .roi {
                font-size: 2em;

                svg {
                    color: blue;
                }
            }

        }

        .join {
            display: flex;

            .login {
                color: rgb(23, 43, 77);

                font-size: 1.2rem;
                height: 100%;

                &:hover {
                    background-color: white;
                }
            }

            .guest {
                background-color: rgb(0, 101, 255);
                height: 100%;
                padding: 8px 24px;
                color: white;
                font-size: 19.2px;
                border-radius: 0;
                font-family: 'Charlie Text', sans-serif;

                &:hover {
                    background-color: rgb(7, 71, 166);
                }
            }
        }
    }

    .home-main {
        .hero {
            height: 600px;
            width: 100vw;
            background: url(https://images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

            width: 100%;

            .hero-content {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                padding-left: 1rem;
                padding-right: 1rem;

                .right {
                    width: 50%;
                    padding: 8rem 1rem 1rem;
                    margin-left: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    height: 100%;

                    .hero-title {
                        text-align: left;
                        font-size: 3rem;
                        line-height: 1.25;
                        color: white;
                        margin-bottom: 0.5rem;
                    }

                    .subtitle {
                        color: rgb(255, 255, 255);
                        font-size: 20px;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        text-align: left;
                        font-weight: 400;
                        line-height: 1.5;
                        font-family: 'Charlie Text', sans-serif;
                    }

                    .second-signin {
                        background-color: rgb(0, 101, 255);
                        padding: 0.7rem 1rem 0.8rem;
                        border-radius: 0.3rem;
                        color: rgb(255, 255, 255);
                        width: fit-content;
                        font-size: 16px;
                    }
                }

                .img-container {
                    margin-left: -16.6667%;
                    left: 25.6667%;
                    display: block;
                    flex: 0 0 auto;
                    width: 58.3333%;
                    margin-top: 0px;
                    padding-top: 8rem;
                    margin-bottom: 0px;
                    padding-bottom: 0px;

                    position: relative;

                    img {

                        height: 500px;
                    }
                }
            }

        }

        .seework {

            background: url(https://images.ctfassets.net/rz1oowkt5gyp/7KgS3XVFhGu3TiclJKloEp/c10aad15fb171a6c245db9cb7910247d/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box, url(https://images.ctfassets.net/rz1oowkt5gyp/2HisRmboWIdXSYaaUSDzon/dadecff4be8a39bf2cf3cc537bd4d9c1/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
            color: rgb(255, 255, 255);
            margin-bottom: 20em;
            .seework-content {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                padding-left: 1rem;
                padding-right: 1rem;
                width: 100%;
               
                .head {
                    text-align: center;

                    h1 {
                        font-size: 36px;
                        font-weight: 600;
                    }

                    h5 {
                        font-size: 20px;
                    }

                    .discover {
                        background-color: white;
                        font-size: 16px;
                        padding: 0.7rem 1rem 0.8rem;
                        color: rgb(23, 43, 77) !important;
                        font-weight: 600;


                    }
                }

                .card {
                    background-color: white;
                    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
                    margin-top: 40px;
                    padding: 2rem;
                    display: flex;
                    flex-direction: row;
                    color: rgb(9, 30, 66);
                    column-gap: 3em;
                    margin-inline:12em;
                    border-radius: 12px;
                    &.last{
                        margin-bottom: -8rem;
                        z-index: 1;
                    }
                    .card-header{
                        display: flex;
                        margin-bottom: 20px;
                        column-gap: 16px;
                    }
                    svg{
                        color:  rgb(135, 119, 217);
                    }
                    .text{
                        padding: 0px 2rem;
                        h4 {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.25;
                            text-transform: uppercase;
                            margin: 0px;
                            text-align: center;
                          
                            align-self: center;
                        }
                        p{
                            font-size: 20px;
                            font-weight: 500;
                            text-align: center;
                            text-align: left;
                            color :rgb(9, 30, 66);
                        }
                    }
                    

                    img {
                        width: 50%;
                        height: 300px;
                        aspect-ratio: 16/9;
                        
                    }
                }
            }
        }
    }

}