.minigroup {
    
    height: fit-content;
    
    border-radius: 12px;
    .content{
        display: flex;
    flex-direction: column;
    align-items: center;

        width: 100%;
        height: 100%;
        border-radius: 12px;
        padding: 8px 9px 16px;
        &:hover{

            background-color:#091e4224 !important;
            color: #44546f !important;
        
    }
    }
   .length{
    writing-mode: vertical-lr;
    margin-top: 4px;
   }
    .mini-tilte {
        writing-mode: vertical-lr;
        font-size: 14px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        margin: 0;
    }
}