.quick-edit-container {
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.6);
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;

    .quick-edit-content {
        position: fixed;
       

        .option {
            white-space: nowrap;
            width: fit-content;
            display: flex;
            gap: 4px;
            align-items: center;
            margin-bottom: 4px;
            padding: 6px 12px 6px 10px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 500;
            background-color: #F1F2F4;
            color: #172B4D;
        }
    }
}