.task-list {
    //box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
    .cover-img {
        margin: -10px -9px -9px -10px;
        margin-bottom: 10px;
        // padding-inline: 1px;

        img {
            border-radius: 8px 8px 0px 0px;

        }

    }

    scrollbar-color: #091E4224 #091E420F;
    scrollbar-width: thin;
    overflow-y: scroll;
    padding-inline: 2px;


    .task {
        background-color: #fff;
        border-radius: 8px;
        //box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        padding: 8px;
        margin-bottom: 8px;
        margin-inline: 2px;
        cursor: pointer;
        color: #172b4d;
        font-size: 0.9em;
        //box-shadow: #FFFFFF, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
        font-weight: 500;
        box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
        // gap: 0.4em;

        // &:hover{
        //     border: 1px solid blue;
        // }

        .stay-same-height {
            display: flex;
            align-items: center;
            gap: 0.5em;

            .task-checkbox {
                height: 16px;
                width: 16px;
                margin-left: 2px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 2px solid #707c90;
                place-self: start;
                margin-top: 4px;

            }

            .task-checkbox.checked {
                background-color: #37a979;
                border: none;

            }

            .task-checkbox.checked:before {
                content: '✔';
                font-size: 12px;
                color: white;
                font-weight: bold;
                margin-left: 3px;

            }

            .task-task-text {
                font-size: 14px;
                font-weight: 400;
                color: #172b4d;
            }

            .right-btns {
                margin-top: -3px;
                gap: 0.4em;
                position: absolute;
                top: 7px;
                right: 6px;
                cursor: pointer;

                .right-btns-btn {
                    //display: none;
                    color: #172B4D;
                    //font-weight: bold;
                    width: 28px;
                    height: 28px;
                    display: flex;
                    //padding: 12px;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    //font-size: 13px;
                    font-weight: 1000;
                    border-radius: 50%;
                    background-color: white;
                    filter: drop-shadow(0 0 0.6rem rgba(190, 182, 184, 0.467));
                    //display: none;
                    & svg {
                        width: 14px;
                        height: 14px;
                        // font-weight: 900;
                    }


                    &:hover {
                        background-color: #f0f1f3;
                    }

                }

            }

        }

        .stay-same-height-start {
            display: flex;
            align-items: start;
            gap: 0.5em;
        }

        .labels {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3em;
            margin-bottom: 6px;
        }

        .task-label {
            padding: 0px;
            margin: 0px;
            background-color: #4bcd96;
            height: 16px;
            width: 56px;
            border-radius: 4px;
            transition: 0.2s;
            &:hover {
                opacity: 0.8;
            }
        }

        .task-label-small {
            padding: 0px;
            margin: 0px;
            background-color: #4bcd96;
            height: 8px;
            width: 40px;
            border-radius: 4px;
            transition: 0.2s;
            &:hover {
                opacity: 0.8;
            }
        }


        .task-under-text {
            margin-top: 6px;

            .task-badges {
                margin-inline: 4px;
                display: flex;
                flex-wrap: wrap;
                column-gap: 4px;
                row-gap: 4px;
                float: left;
                align-items: center;

               

                .badge {
                    word-wrap: none;
                    word-break: keep-all;

                    text-overflow: ellipsis;
                    // height: 16px;
                    font-size: 0.8em;
                    font-weight: bold;
                    border-radius: 3px;
                    padding: 2px 5px;
                    color: #ffffff;
                    // margin-left: 6px;

                }

                .badge-priority {
                    font-weight: 600;
                    color: #5e4db1;
                    background-color: #ded7fc;
                }

                .badge-approved {
                    font-weight: 600;
                    color: #216e4e;
                    background-color: #b9f2da;
                }

                .badge-risk {
                    font-weight: 600;
                    color: #ad2e24;
                    background-color: #fed4d1;
                }

                .badge-now {
                    font-weight: 600;
                    color: #7f5f01;
                    background-color: #f7e59f;
                }

            }
        }

        .task-user-icons {
            margin-top: 6px;
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
            justify-content: right;

            .task-user-icon {
                // margin-left: -5px;
                width: 24px;
                height: 24px;

                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;

                    // margin-left: -5px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .task-user-icon-no-pic {
                display: flex;
                justify-content: center;
                justify-items: center;
                align-items: center;
                font-weight: bold;
                font-size: 12px;
                color: #3b5c78;
                height: 24px;
                width: 24px;
                background-color: #00a2be;
                border-radius: 50%;

            }
        }
    }



}