.task-details {

    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);

    .task-details-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;


        .task-details-content {
            min-height: 600px;
            border-radius: 12px;
            background-color: #ffffff;
            min-width: 400px;

            .task-details-header {
                display: grid;
                grid-template-columns: 40px minmax(0, 1fr);

                .header-content {
                    grid-column: 2;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    color: #44546f;

                    .list-name {
                        background-color: #DCDFE4;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                    }
                }

                .task-checkbox {
                    height: 16px;
                    width: 16px;
                    margin-left: 2px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    border: 2px solid #707c90;
                    align-self: center;
                    justify-self: center;

                }

                .task-title {
                    height: 36px;
                    display: block;

                    box-sizing: border-box;
                    width: 100%;
                    margin: -6px -10px;
                    padding: 6px 10px;

                    border: none;
                    border-radius: 4px;
                    outline: none;
                    background-color: transparent;
                    box-shadow: none;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    resize: none;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                }
            }
        }

        .task-details-main {
            display: grid;
            grid-template-columns: 569px minmax(100px, 1fr);

            .task-details-info {
                .task-details-info-header {
                    padding-left: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 8px;
                    row-gap: 8px;

                    .info-header-title {
                        color: #44546f;
                        margin: 0;
                        margin-bottom: 4px;
                        line-height: 20px;
                        font-size: 12px;
                        font-weight: 600;

                    }

                    .task-notifications {
                        .add-watch {
                            background-color: #091e420f;
                        }
                    }

                    .labels {
                        display: flex;
                        gap: 4px;

                        .add-label {
                            background-color: #091e420f;
                        }

                        .label {
                            background-color: rgb(245, 205, 71);
                            height: 32px;
                            min-width: 48px;
                            max-width: 100%;
                        }
                    }

                    .task-members {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;



                        .members-icon {
                            display: flex;
                            flex-wrap: wrap;
                            column-gap: 4px;
                            row-gap: 4px;

                            .task-user-icon {
                                // margin-left: -5px;
                                width: 32px;
                                height: 32px;

                                img {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;

                                    // margin-left: -5px;
                                    &:hover {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}