
.everything>header {
    background-color: #e4bcb9;
    border-bottom: 1px solid #c2a5a7;
}

.just-flex {
    display: flex;
    gap: 1em;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.small-img {
    height: 20px;
    width: 24px;
    // aspect-ratio: 1/1;
    border-radius: 2px;
}

.board-sideitem {
    display: flex;
}

.label {
    color: #5E4DB2;
    padding: 1px 2px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #F3F0FF;
}

aside {
    width: 263px;    
    padding: 12px;
    backdrop-filter: blur(4px);
    // background-color: hsl(4,44.3%,81.1%);
    background-color: hsla(4,44.3%,76.1%,0.9);
    padding-inline: calc(3px + 12px);
    border-right: 1px solid #c2a5a7;
    margin-top: -12px;

}

.main-layout {
    display: flex;    
}

.board-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-group {
    display: flex;
}


.board-display {
    width:100%;
}

.divider {
    border-right: 1px solid black;
    margin-block: 10px;
}

.user-icon {    
    margin-left: -5px;
    width: 28px;
    height: 28px;
}


.user-icon img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: -5px;

}

.users {
    display: flex;
    padding-inline: 10px;
    margin-inline: 5px;    
}

header {
    padding: 12px;
    background:#ffffff3d;
    backdrop-filter: blur(8px);
}

.everything {
    background-size: cover;
    background-position: center;
    background-image: url('back.png');
}

.sidebar-header {
    padding-block: 11px;
    padding-inline: 12px;
    margin-inline: -16px;
    border-bottom: 1px solid #be9494;
}

.board-logo {
    
    
    // background: linear-gradient(#1F845A, #006644),
    //                             #4BCE97, #00875a);
    
    background: linear-gradient(#1F845A,#4BCE97);

    // linear-gradient(#006644, #00875a);
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.logo-insider {
    justify-content: center;    
    align-items: center;
    gap: 0.7em;
}

.near-logo {
    font-size: 12px;    
}

.bold-text {
    font-weight: bold;
}

