.home-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  gap: 20px;

  .home-left-side-bar-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0;
    max-height: 90vh;
    padding: 0 16px;
    position: sticky;
    width: 256px;
    // margin-top: 40px;

    .menu {
      display: grid;
      gap: 10px;
      border-bottom: 1px solid #091E4224;
    }
  }



  .all-boards {
    width: 811px;

    .category-container {
      display: flex;
      padding: 32px;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid #091E4224;


      .description-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}


.board-list {
  display: flex;
  gap: 10px;
}

.side-btn {
  display: flex;
  width: 100%;
  padding: 6px 8px;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.board-logo {
  background: linear-gradient(#1F845A, #4BCE97);
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.star-boards {
  margin-top: 10px;
}