.board-preview {
  position: relative;
  width: 190px;
  height: 96px;
  border-radius: 3px;
  display: flex;
  font-size: 16px;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.3);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;

  h4 {
    margin: 0px 10px 10px 10px;
  }

  .star-btn {
    position: absolute;
    right: -4px;
    bottom: 0px;
    opacity: 0;
    width: 33px;
    height: 30px;
    transition: 0.3s;
    scale: 0.8;

    &:hover {
      scale: 1;
    }
  }
}

.fill-star {
  img {
    position: absolute;
    right: 12px;
    bottom: 0px;
    opacity: 1;
    width: 14px;
    height: 34px;
    filter: invert(67%) sepia(78%) saturate(250%) hue-rotate(10deg);
  }

  img :hover {
    background-color: #ab3a8f;
  }
}

.create-board-preview {
  background: #f1f3f5;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}

// .board-preview:hover {
//   opacity: 0.8;
// }

.board-preview:hover .star-btn {
  opacity: 1;
}

.create-board-preview {
  background: #f1f3f5;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}

.select-background {
  display: flex;
  flex-direction: column;
  gap: 7px;
}