.everything>header {
    background-color: #e4bcb9;
    //border-bottom: 1px solid #c2a5a7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.just-flex {
    display: flex;
    gap: 1em;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-between-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}




body {
    overflow-y: hidden;
    // overflow-y: scroll;
    // height: 100vh;

}

.main-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    // display: flex;
    // height: 100vh;
}


.board-display {
    //width: 83%;
    width: calc(100vw - 263px);
    height: calc(100vh - 40px); //60px
    transition: all 0.5s ease;
    //width: 100vw;
    
    //height: calc(100vh - 57px); //60px
    //margin-bottom: 40px;
    //padding-bottom: 40px;
}

header {
    padding: 4px;
    background: #ffffff3d;
    //backdrop-filter: blur(8px);
}

.board-header {
    padding: 12px;
    //background: rgba(55, 52, 48, 0.5); // #ffffff3d;
    
    backdrop-filter: blur(8px);
}


.everything {
    background-size: cover;
    background-position: center;
    background-image: url('back.png');

    display: grid;
    grid-template-rows: auto 1fr;

}

.bold-text {
    font-weight: bold;
}

.main-logo {
    filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}

.side-bar-item i {
    margin-right: 7px;
}

.nav-highlight-hint:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.16);
}

aside>section:not(:first-of-type) {
    margin-top: 12px;
}


.fa-chevron-down {
    //color: #6b778c;
}


.main-logo {
    max-height: 16px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
}

@media (min-width: 1000px) {
    .logo {
        display: flex;
        padding: 0.25em 0.5em;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .logo img {
        min-width: 75px;
    }
}
// smallest app header: 982

.board-index-header-slim {
    display: none;
}

@media (max-width: 985px) {

    div.highlighted-btn {
        background-color: transparent;
    }

    header.board-index-header>nav,
    header.board-index-header>nav>div {
        display: flex;
        flex-direction: column;
        //z-index: ;

    }

    header.board-index-header.upper-bar-open>nav>div .btn-popup-container:nth-child(6),
    header.board-index-header.upper-bar-open>nav>div .dropdown-menu:nth-child(6) {
        //background: red;
        display: none;
    }

    .btn-popup-container>.divider-white,
    .btn-popup-container>.white-colors-btn {
        background-color: transparent;

    }

    .nav-highlight-hint {
        margin-left: 0;
        //padding: 1em;
    }

    header.board-index-header>nav>div {
        width: 100%;

    }

    header.board-index-header>nav>div>div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0.5em;
    }

    header.board-index-header>nav>div>div>div {
        padding: 1.0em;
    }

    header.board-index-header>nav>div>div,
    header.board-index-header>nav>div>div>div {

        //border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        width: 100%;
        //margin-block: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;

    }

    .board-index-header-closed {

        translate: 0 -100%;
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        transition: all 0.5s ease;
        //display: none;
        overflow: hidden;
        z-index: -1;
    }

    .upper-bar-open {
        translate: 0 0;
        height: auto;
        opacity: 1;
        transition: all 0.5s ease;
        //height: 100%;
        //opacity: 1;
        //padding: 0.5em;
        //margin: 0.5em;
        .just-flexer {
            display: none;
        }
        .logo {
            display: none;
        }
        z-index: 1;
    }

    .everything > header.board-index-header-slim {
        display: block;
        margin-top: -1px;
        z-index: 0;
    }
}

.top-hamburger>svg,
.top-hamburger>svg>*,
.top-hamburger>svg>*>*,
.top-hamburger>svg,
.top-hamburger>svg>*,
.top-hamburger>svg>*>* {
    color: white;
}



.center-vertical {
    gap: 0px;
    display: flex;
    align-items: center;
}

.dots {
    height: 20px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}

.main-logo-img {
    background-image: url("logo.gif");
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

}

.dropdown-menu {
    gap: 0.4em;
    display: flex;
    align-items: center;
    justify-items: space-between;

    //color: #172B4D;
    font-weight: 600;

    padding: 0em 0.625em;
    margin-left: 0.625em;
}


.dropdown-menu i {
    padding-top: 5px;
    //color: #172B4D;
}


.btn-popup-container:last-of-type .dropdown-menu {
    font-size: 16px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.16);
}

input {
    background-color: #eacac7;
    border-radius: 5px;
    border: 1px solid #8590a2;
    // background-color: #cda9a6;
    color: #172B4D;
    height: 32px;
}

.days-left {
    gap: 0.4em;
    height: 32px;
    color: white;
    font-weight: bold;
    align-items: center;
    background: linear-gradient(79.47deg, var(--ds-background-discovery-bold, #6e5dc6) 25.62%, var(--ds-text-selected, #0c66e4) 99.57%);
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info {
    // padding: 5px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 12px;
    aspect-ratio: 1/1;
}

.and-center {
    align-items: center;
}

.task-content {
    margin-bottom: 4px;
}

.task-title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    color: #172b4d;
}

.task-with-badges .task-content {
    margin-bottom: 6px;
}


.mini-label {
    font-size: 0.7em;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 4px;
}

.mini-label-green {
    background-color: #d4f7d7;
    color: #0c6b0c;
}

.mini-label-orange {
    background-color: #ffe2c6;
    color: #945214;
}

.task-date {
    word-break: keep-all;

    font-size: 1.0em;
    color: #5e6c84;
    margin-left: 6px;
}

.design-task {
    border-left: 6px solid #f2d600;
}


// specific task

.task {
    // place-self: start stretch;
    // height: 64px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    //border: 2px solid transparent;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px, rgba(0, 0, 0, 0.19) 0px 1px 1px;
    //border-radius: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(241, 242, 244);
    //border-image: initial;
}

.task:hover,
.task:active {
    outline-offset: -3px;
    outline: 2px solid rgb(56, 139, 255);
    //border: 2px solid rgb(56, 139, 255);
}

div.task-list>div:nth-child(1) {
    margin-top: 2px;
}

div.task-list>div:nth-child(-1) {
    margin-bottom: 2px;
}


//#root > div > main > div > main > section > section > div:nth-child(1) > div.task-list > div:nth-child(1) > div.cover-img > img
.task:hover .cover-img>img,
.task:active .cover-img>img {
    //display: none;
    //border-right: 2px solid rgb(56, 139, 255);
    //box-shadow: 1px 0px 0px 0px rgb(56, 139, 255), 2px 0px 0px px rgb(56, 139, 255);
    //z-index: -200;
}

.tasks-container {
    display: grid;
    align-items: start stretch;
    grid-template-rows: repeat(auto-fit, 1fr);
    height: fit-content;
}


//task:hover>*>.right-btns>*

.task:not(:hover) .right-btns {
    opacity: 0;
    //display: none;
}

.task:hover .right-btns {
    opacity: 1;
    //display: flex;
}

.right-btns i {
    font-weight: 900;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 1));
}


// .board-sideitem>span  {
// min-width: 100%;
// }

aside article>div>div {
    height: 20px;
    word-break: keep-all;
    max-width: 100%;
    overflow: hidden;
    // title (upper first letter) the texts:
    text-transform: capitalize;
}

aside article>div>div>div>div {
    //max-width: 50%;
    // overflow: hidden;
    // display: block;
    //word-break: keep-all;
    //line-break: keep-all;
}

.list-header {
    text-transform: capitalize;
}


header input {
    background-color: #eacac7;
    border-radius: 5px;
    border: 1px solid #8590a2;
    // background-color: #cda9a6;
    color: #172B4D;
    height: 32px;
    position: relative;
}

.highlighted-btn {
    gap: 0.4em;
    display: flex;
    align-items: center;
    justify-items: space-between;

    font-weight: 600;
    padding: 0px 10px;

    margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 12px;



    &:hover {
        background-color: #0055CC;

    }
}

header:not(.upper-bar-open) .highlighted-btn {
    background-color: #0c66e4;
    color: #fff;
}



.picker-popup .search-container input::after {
    margin-top: 8px;
}

.member-item {
    position: relative;
}

.filter-content {
    z-index: 1000;
}

.board-header {
    z-index: 1;
}

.group-edit-container {
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;

}