.everything>header {
    background-color: #e4bcb9;
    border-bottom: 1px solid #c2a5a7;
}

.just-flex {
    display: flex;
    gap: 1em;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}





body {
    overflow-y: hidden;
    // overflow-y: scroll;
    // height: 100vh;

}

.main-layout {
    display: flex;
    // height: 100vh;
}


.board-display {
    width: 83%;
    height: calc(100vh - 57px); //60px
}

header {
    padding: 12px;
    background: #ffffff3d;
    backdrop-filter: blur(8px);
}

.everything {
    background-size: cover;
    background-position: center;
    background-image: url('back.png');
}

.bold-text {
    font-weight: bold;
}

.main-logo {
    filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}

.side-bar-item i {
    margin-right: 7px;
}

.nav-highlight-hint:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.16);
}

aside>section:not(:first-of-type) {
    margin-top: 12px;
}



.fa-chevron-down {
    color: #6b778c;
}



.main-logo {
    height: 16px;
}

.logo {
    display: flex;
    padding: 4px 8px;
    align-items: center;
}

.center-vertical {
    gap: 0px;
    display: flex;
    align-items: center;
}

.dots {
    height: 20px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}

.main-logo-img {
    background-image: url("logo.gif");
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

}

.dropdown-menu {
    gap: 0.4em;
    display: flex;
    align-items: center;
    justify-items: space-between;

    color: #172B4D;
    font-weight: 600;
    padding: 0px 10px;

    margin-left: 10px;
}


.dropdown-menu i {
    padding-top: 5px;
    color: #172B4D;
}


.dropdown-menu:last-of-type {
    font-size: 16px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.16);
}

input {
    background-color: #eacac7;
    border-radius: 5px;
    border: 1px solid #8590a2;
    // background-color: #cda9a6;
    color: #172B4D;
    height: 32px;
}

.days-left {
    gap: 0.4em;
    height: 32px;
    color: white;
    font-weight: bold;
    align-items: center;
    background: linear-gradient(79.47deg, var(--ds-background-discovery-bold, #6e5dc6) 25.62%, var(--ds-text-selected, #0c66e4) 99.57%)
}

.info {
    // padding: 5px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 12px;
    aspect-ratio: 1/1;
}

.and-center {
    align-items: center;
}

.task-content {
    margin-bottom: 4px;
}

.task-title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    color: #172b4d;
}

.task-with-badges .task-content {
    margin-bottom: 6px;
}







.mini-label {
    font-size: 0.7em;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 4px;
}

.mini-label-green {
    background-color: #d4f7d7;
    color: #0c6b0c;
}

.mini-label-orange {
    background-color: #ffe2c6;
    color: #945214;
}

.task-date {
    word-break: keep-all;

    font-size: 0.9em;
    color: #5e6c84;
    margin-left: 6px;
}

.design-task {
    border-left: 6px solid #f2d600;
}


// specific task

.task {
    // place-self: start stretch;
    // height: 64px;
    border-radius: 7px;
    border: 2px solid transparent;
}

.task:hover,
.task:active {
    border: 2px solid #388afe;
}




.tasks-container {
    display: grid;
    align-items: start stretch;
    grid-template-rows: repeat(auto-fit, 1fr);
    height: fit-content;
}



