.chat {
    li {
        padding-inline-start: .3em;
        font-size: .96em;
    }
    
    li:nth-child(odd) {
        background-color: whitesmoke;
    }

    form {
        display: flex;
        gap: 1em;

        input {
            flex-grow: 1;
        }
    }
}

.chat-options {
    display: flex;
    gap: 1em;

    padding: 0.5em;
    background-color: $clr4;

    accent-color: black;

    label:last-of-type {
        margin-inline-start: auto;
    }
}