button {
	border: 0;
	background-color: transparent;
	color: #172B4D;
    border-radius: 3px;
	padding: 5px 10px;
	// margin: 5px;
	cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}
