



.side-bar {
    @media (max-width:420px) {
    /*background-color: #ffffff;*/
    /*padding-inline: 20px;*/
    /*!*width: 25%;*!*/
    /*min-width: 200px;*/
    /*border-left: 2px solid rgba(0,0,0,.2);*/
    /*display: grid;*/
    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr;*/
    /*align-items: stretch;*/
    /*z-index: 1;*/

    transition: all 0.7s ease;

    /*translate:  calc(-200% -100px);*/
    translate: -200%;
    /*margin-left: -200%;*/
    width: 0px;
    padding-inline: 0px;
    margin-inline: 0px;
    /*min-width: 0;*/
    /*display: none;*/
    opacity: 0;
}
}




    #group-lists{
        @media (max-width:420px) {
            
            // scroll-snap-type: x mandatory;
            padding-left: 8px;
        }
    }
// .task-list{
//     @media (max-width:400px) {
//         scroll-snap-align: start;
//         height: 200px;
//         width: 100%;
//     }
// }
.list{

    &.base-components-list{
        @media (max-width:420px) {
            scroll-snap-align: start;      
            width: 100%;
            
            // &:first-of-type { 
                // margin-left: 1000px;
            // }

        }
    }
} 
#board-header {

  
    @media (max-width: 420px) {
        overflow: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth; // Add smooth scrolling
        backdrop-filter:none;
    }
}
.board-display{
    @media (max-width: 420px) {
    height: 100vh;
    width: 100vw;
    }
}


