



    

    #group-lists{
        @media (max-width:420px) {
            
            scroll-snap-type:x mandatory;
        }
    }
// .task-list{
//     @media (max-width:400px) {
//         scroll-snap-align: start;
//         height: 200px;
//         width: 100%;
//     }
// }
.list{

    &.base-components-list{
        @media (max-width:420px) {
            scroll-snap-align: start;
           
            width: 100%;
        }
    }
} 
#board-header {

  
    @media (max-width: 420px) {
        overflow: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth; // Add smooth scrolling
        backdrop-filter:none;
    }
}
.board-display{
    @media (max-width: 420px) {
    height: 100vh;
    width: 101vw;
    }
}